<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/3fc491d8-f3fc-4190-9342-1cb09e873300/resourceGroups/MyCoffeeAppWebAPIResourceGroup/providers/Microsoft.ApiManagement/service/MyCoffeeApp/apis/MyCoffeeAppWebAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/3fc491d8-f3fc-4190-9342-1cb09e873300/resourceGroups/MyCoffeeAppWebAPIResourceGroup/providers/Microsoft.Web/sites/MyCoffeeAppWeb</ResourceId>
    <ResourceGroup>MyCoffeeAppWebAPIResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://mycoffeeappweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d31582f9-11d9-4e17-a2dd-a1bf1486569a</ProjectGuid>
    <PublishUrl>https://mycoffeeappweb.scm.azurewebsites.net/</PublishUrl>
    <UserName>$MyCoffeeAppWeb</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>